  <div class="container">
    <div class="logo">
      <span>QUERENFLIX</span>
    </div>

    <div class="container">
      <input [(ngModel)]="usuario.login" type="email" placeholder="Email" />
      <input [(ngModel)]="usuario.senha" type="password" placeholder="Password" />

      <button class="botao-login" (click)="logar()">Sign In</button>

      <a href="#">Forgot your password?</a>
    </div>
  </div>

  <p-dialog header="Header" [(visible)]="exibirMensagem" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="true">
    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ng-template pTemplate="footer">

      <p-button icon="pi pi-check" (click)="exibirMensagem=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
