@import '~primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/bootstrap4-dark-purple/theme.css';
@import '~primeng/resources/primeng.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #181818;
}

input,
button {
  height: 50px;
  font-size: 1.2rem;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
}

input {
  background: #2e2e2e;
  border: none;
  margin-bottom: 3%;
  outline: none;
  color: white;
}


.botao-login {
  background: #181818;
  border: 1px solid #4d4d4d;
  color: #aaa;
  margin: 20px 0;
}

a {
  font-family: 'roboto', sans-serif;
  margin: 20px auto;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #e50914;
}

.botao-login:hover {
  background: #e50914;
  color: white;
}
